h1{
  color:linen;
}

h2{
  color:linen;
}



body{
  background:DarkSeaGreen;
}

p{
	
}

.flower {
	border:5px solid linen;
}

.dandelionFlower{
	color:linen;
}

.padding1{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 500px;
}
