#titleSquare {
	border:2px solid linen;
}

title {
text-align: center;	
}

h1{
  color:linen;
}

h2{
  color:linen;
}

p{
	text-align: center;
}

body{
  background:DarkSeaGreen;
}

#oneColor {
	color:linen;
	font-size: 20px;;
}

#twoColor {
	color:linen;
}

#threeColor {
	color:linen;
}

#fourColor {
	color:linen;
}

.flower {
	border:5px solid linen;
}

.dandelionFlower{
	color:linen;
}

.padding1{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 500px;
}

img{
	display: block;
	margin: auto;
}