#titleSquare {
	border:2px solid moccasin;
}

title {
text-align: center;	
}

h1{
  color:moccasin;
  text-align: center;	
}

h2{
  color:moccasin;
  text-align: center;	
}

p{
	text-align: center;
	margin-left: 100px;
	margin-right:100px;
}

body{
  background:Seagreen;
}

#oneColor {
	color:moccasin;
	font-size: 20px;;
}

#twoColor {
	color:moccasin;
}

#threeColor {
	color:moccasin;
}

#fourColor {
	color:moccasin;
}

.flower {
	border:5px solid moccasin;
	border-radius: 15%;
}

.dandelionFlower{
	color:moccasin;
}

.padding1{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 500px;
}

img{
	display: block;
	margin: auto;
}